.nav a{
    color: black;
    font-size: 15px;
    width: 60px;
    text-decoration: none;
    float: right;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding-top: 70px;
    float: right;
}

.nav li{
    display: inline-block;
}

.top{
    display: block;
    float: left;
}

.nav, .top {
    display: inline-block;
    width: auto;
    padding-bottom: 10px;
}

.topborder{
    border-top:2px solid black;
    padding-top:50px;
    width:100%
}

.bottomborder{
    border-bottom:2px solid black;
    padding-bottom:50px;
    width:100%
}

.aboutpic img{
    border:1px solid black;
    margin-right:10px;
}

.aboutpic, .abouttext {
    display:inline-block;
    vertical-align: top;
}

.abouttext{
    margin:0;
    padding-top:0;
    width:500px;
}

.abouttext h3{
    font-weight: bold;
    margin-top:0;
}

.abouttext p{
    work-break: break-all;
}

.currentpage p{
    color: gray;
    font-size: 15px;
    width: 60px;
    text-decoration: underline black;
    float: bottom;

}

.credit p{
    margin-top:0;
    font-size:small;
    margin-bottom:0;
}

